$daily-metrics-brand-primary: #4198FF;

.daily-metrics-bar {
  fill: rgba($daily-metrics-brand-primary, 0.1);
  shape-rendering: crispEdges;
}
.daily-metrics-bar-outline {
  fill: transparent;
  stroke: $daily-metrics-brand-primary;
  shape-rendering: crispEdges;
}
.daily-metrics-bar-label {
  font-weight: 500;
  font-size: 14px;
}


// X Axis
.daily-metrics-axis-x path { display: none; }
.daily-metrics-axis-x .tick line { display: none; }

.daily-metrics-axis-x .tick text {
  font-size: 14px;
  transform: translate(0px, 10px);
  font-weight: 300;
}

// Y Axis
.daily-metrics-axis-y .domain { display: none; }
.daily-metrics-axis-y .tick { display: none; }
.daily-metrics-axis-y .tick line { display: none; }

// Move all y axis labels to the right and up a bit.
.daily-metrics-axis-y { transform: translate(10px, -7px); }

.daily-metrics-axis-y .tick text {
  font-size: 14px;
  transform: translate(0px, 10px);
  font-weight: 300;
}
.daily-metrics-axis-y .tick:first-of-type,
.daily-metrics-axis-y .tick:last-of-type { display: block; }
