.chart-current-count {
  position: relative;

  .chart-current-count-text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: calc(50% - 24px);
    font-size: 48px;
    font-weight: 500;
    color: #222A2E;
  }

  .chart-current-count-body {
    display: flex;
    flex-direction: column;
    min-height: 162px;

    .chart-current-count-header {
      flex: 1;
      display: flex;
      flex-direction: row;

      .chart-current-count-last-event {
        color: rgb(180, 184, 191);
      }
    }

    .chart-current-count-footer {
      
      // Progress bar showing capacity of the space.
      .chart-current-count-progress-bar {
        width: 100%;
        height: 5px;
        background-color: rgba(0, 0, 0, 0.1);
        margin-top: 2px;
      }
      .chart-current-count-progress-meter {
        background-color: rgb(54, 99, 229);
        height: 100%;
      }
    }
  }
}
