$brand-primary: #4198FF;

/* X Axis */

.graph-historical-counts .axis-x .tick line {
  display: none;
}
.graph-historical-counts .axis-x .tick text {
  transform: translate(0, 10px);
}
.graph-historical-counts .axis-x .domain {
  display: none;
}

/* Y Axis */
.graph-historical-counts .axis-y {
  font-size: 14px;
  transform: translate(-32px, (14px / 2));
}

// This path is the line that is rendered on the chart indicating the data to the user.
.graph-historical-counts .graph-path {
  fill: rgba($brand-primary, 0.1);
  shape-rendering: crispEdges;
}
// Also, render a seperate line for the colored outline along the top of the path.
.graph-historical-counts .graph-path-outline {
  shape-rendering: crispEdges;
  stroke: $brand-primary;
  stroke-width: 2px;
  fill: transparent;
}

/* Flag lines */

.graph-historical-counts .flag .flag-line {
  stroke: #4198ff;
}
.graph-historical-counts .flag .flag-line-label {
  fill: #fff;
  transform: translate(10px, 20px);
}
.graph-historical-counts .flag .flag-line-label-background {
  fill: #4198ff;
}

// Capacity line
.graph-historical-counts-capacity {
  fill: rgba($brand-primary, 0.1);
}

/* Overlay marker line (the line with the circle that tracks the mouse cursor) */

.graph-historical-counts .overlay-line path {
  stroke: #B4B8BF;
  stroke-width: 1;
}

.graph-historical-counts .overlay-line circle {
  fill: #4198ff;
}

/* Overlay marker dialog (the popup with time / count in it) */

.graph-historical-counts .overlay-dialog {
  transition: transform .08s;
}

.graph-historical-counts .overlay-dialog-shadow {
  fill: #B4B8BF;
  opacity: 0.35;
}

.graph-historical-counts .overlay-dialog-bg {
  fill: #FFF;
  stroke-width: 0.5;
  user-select: none;
}
.graph-historical-counts .overlay-dialog-bg-primary {
  fill: #4198ff;
  user-select: none;
}

.graph-historical-counts .overlay-dialog-time {
  fill: #FFF;
  font-size: 16px;
  font-weight: 600;
}

.graph-historical-counts .overlay-dialog-count {
  font-size: 16px;
  fill: #4198ff;
  font-weight: 600;
}
